<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
            <a class="p-2 btn btn-outline-primary" href="{% url 'main:index' %}">Главная</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'main:mailing_list' %}">Рассылки</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'main:client_list' %}">Клиенты</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'main:message_list' %}">Сообщения</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Блог</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:list_view' %}">Пользователи</a>
            <a class="p-2 btn btn-outline-primary" href="/admin/">Админка</a>
        </nav>
</div>